@mixin container
    max-width: 100%
    width: 100%

@mixin flex($j-c,$a-i, $flex-d)
    display: flex
    justify-content: $j-c
    align-items: $a-i
    flex-direction: $flex-d
@mixin links($color)
    text-decoration: none
    color: $color
